@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.wavy-div {
  background: #f5c6aa; /* Any color or gradient */
  color: #fff;
  text-align: center;

  /* Wavy bottom */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 85%, 50% 80%, 25% 85%, 0 80%);
}
